<!--====== Javascripts & Jquery ======-->
    <script src="../js/jquery-2.1.4.min.js"></script>
    

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/isotope.pkgd.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.owl-filter.js"></script>
    <script src="../js/magnific-popup.min.js"></script>
    <script src="../js/circle-progress.min.js"></script>
    <script src="../js/main.js"></script>