<a href="home.html" class="logo-area">
            <img src="img/logo.png" alt="">
            <svg id="Layer_1" data-name="Layer 1" width="30%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 437.82 333.07">
            <title>axel_logo</title>
            <path d="M75.71,233.21l36.82-107.68s3.23-10.37,21.27-10.37c18.33,0,24.21,12.53,24.21,12.53l47,85.4,28.78-35-35.15-38.24,17.24-21,36.86,38.17,26.55-38.29,109.2.23v25.37l-89.78-.26L271.26,178l31.56,33.88,91.59.46v24.91H286.11c-10.11-15.06-33.34-40-33.34-40l-27.31,38.45H185.75s-37.74-73.51-44.9-87.53c-2.71-5.3-4.49-1-4.49-1l-27.54,86.95Z" transform="translate(-75.71 -33.97)" style="fill:#20205b" />
            <path d="M289.25,178l11.84-13.34h74s9.71,3.42,9.71,13.34c0,7.83-9.13,14.27-9.13,14.27H301.2Z" transform="translate(-75.71 -33.97)" style="fill:#20205b" />
            <path d="M399.94,118.92" transform="translate(-75.71 -33.97)" style="fill:none" />
            <path d="M403.31,118.92h25.41v83.54s-1.66,10.64,14.5,10.44c14.85-.18,70.31,0,70.31,0V238.2H429.64s-26.22-1-26.22-29.82S403.31,118.92,403.31,118.92Z" transform="translate(-75.71 -33.97)" style="fill:#20205b" />
            <path d="M460.24,203.15S477.5,136.3,441.36,94.44c-38.06-44.09-80.68-40.07-117.65-35-46.88,6.37-94.22,41.07-127.4,83.54-16,20.52-40.46,55.31-38,109.46,1.74,38,21.89,59,31.25,67.76,25.53,23.75,99.67,37.13,134.13,25.14,36.12-12.57,55.23-30.86,77-47.57,0,0,12.18-4.53,5.34,7.43,0,0-54.92,58.62-131.11,60.8-45.69,1.31-78.35-12.39-100.75-29.9-22.71-17.75-35.38-36.47-39.11-83-1.86-23.21-1.23-77.31,60-145.42,24.92-27.71,59.78-59.5,122.22-70.16,45.79-7.82,97.49,2.34,131.73,40.46,23.9,26.61,27.54,53.79,25.45,86.75-1.09,17.16-4.68,35.61-5.34,39.33C468.05,210.58,459.23,209.77,460.24,203.15Z" transform="translate(-75.71 -33.97)" style="fill:#234345;stroke:#f2f2f2;stroke-miterlimit:10;stroke-width:2px" />
            <text transform="translate(113.87 235.14) scale(1.15 1)" style="font-size:37.129669189453125px;font-family:Bauhaus93, Bauhaus 93">{{ include.namenav }}</text>
        </svg>
        </a>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <div class="phone-number">+675 334 567 223</div>
        <nav class="nav-menu">
            <ul>
                <li class="{% if page.title == 'Home' %} active {%endif%}"><a href="index.html">Home</a></li>
                <li class="{% if page.title == 'About' %} active {%endif%}"><a href="about.html">About us</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
   